
.post-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
   margin-left: 10%;
   margin-right: 10%;
    
    
}
.post-card--card{
    margin-bottom: 50px;
   
}

.card{
   margin-top: 10%;
   
   height: 100%;
}
.card-title{
    text-align: center;
    padding-bottom: 20px;
}

.card-img-top{
    height: 300px;
}
.create-post--button{
    margin-left: 10px;
}