form {
    margin-left: 15%;
    margin-right:15%;
    margin-top: 5%;
    margin-bottom: 15%;
    width: 70%;
}
textarea{
    width: 100%;
    white-space: pre-wrap;
    
}

.post-edit--form{
    margin-left: 10%;
    margin-right: 10%;
}
