.category_image{
    width: 150px;
}
.post-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: row;
    
}
.post-card--card{
    border: solid black 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    width: 30%;
    text-align: center;
}